.subHeader {
  margin-top: 30px;
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_text {
  width: 350px;
  border: 1px solid cyan;
  font-weight: 100;
  border-radius: 5px;
  padding: 15px;
}

.input_text:focus {
  border: 2px solid cyan;
}

.input_button {
  width: 90px;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

.sub-img img {
  margin-left: 100px;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.sub-cart {
  margin-right: 40px;
  cursor: pointer;
}

.sub-cart span {
  height: 40px;
  width: 40px;
  position: relative;
  bottom: 30px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  float: right;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 480px) {
  .subHeader {
    display: block;
    width: 60%;
    position: relative;
  }
  .sub-img {
    margin-left: -90px;
    margin-top: -30px;
  }
  .input {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
  input[type="text"] {
    width: 100%;
    margin-left: 10px;
  }
  input[type="button"] {
    position: absolute;
    left: 230px;
    top: 0;
  }
  .sub-cart {
    position: absolute;
    top: 10px;
    left: 264px;
    height: 30px;
  }
  .sub-cart span {
    position: absolute;
    bottom: 28px;
    left: 25px;
  }
}
